<% if user_signed_in? %>
<div class="flex items-center justify-end">
  <a href="/recipes" class="px-4 py-2 border-2 border-black cursor:pointer">Back to Recipes</a>
</div>
  <div class="flex flex-col justify-center w-full max-w-3xl gap-6 mx-auto align-center">
  <h1 class="text-center">Add New Recipe</h1>
  <% if @recipe.errors.any? %>
    <div class="post-errors-box">
      <p><%= pluralize(@recipe.errors.count, "error") %> found:</p>

      <ul class="post-errors-ul">
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with url: "/recipes", model: @recipe, class: 'flex flex-col w-full max-w-3xl mx-auto gap-6 justify-center align-center' do |form| %>
    <div class="flex flex-col w-full max-w-3xl">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'w-full' %>
    </div>
    <div class="flex flex-col w-full max-w-3xl">
      <%= form.label :preparation_time %>
      <%= form.text_field :preparation_time, class: 'w-full' %>
    </div>
    <div class="flex flex-col w-full max-w-3xl">
      <%= form.label :cooking_time %>
      <%= form.text_field :cooking_time, class: 'w-full' %>
    </div>
    <div class="flex flex-col w-full max-w-3xl">
      <%= form.label :description %>
      <%= form.text_field :description, class: 'w-full' %>
    </div>
    <div class="flex justify-center w-full max-w-3xl align-center">
      <%= form.submit class: 'px-4 py-2 border-2 border-black cursor:pointer mb-8' %>
    </div>
  <% end %>
</div>
<% else %>
  <p>Please, sign in to create a recipe item</p>
<% end %>
