<% if user_signed_in? %>
<div class="flex items-center justify-between">
  <%= link_to 'Generate shopping list', shoppings_path(@recipe), class: 'text-blue-600 underline' %>
  <%= link_to 'Add Ingredients', edit_recipe_path(@recipe.id), class: "text-blue-600 underline" %>
</div>
  <% if @recipe.public == true || can?(:manage, @recipe) %>
    <%= render 'shared/detail_recipe_card', recipe: @recipe %>
    <%= link_to 'Go to your recipes', recipes_path, class: "text-blue-600 underline mb-4" %>
    <%= render 'shared/table_foods', recipe_foods: @recipe_foods %>
  <% else %>
    <p> You are not authorize to see this recipe. </p>
    <%= link_to 'Go to your recipes', recipes_path, class: "text-blue-600 underline mb-4" %>
  <% end %>
<% else %>
  <% if @recipe.public == true %>
    <%= render 'shared/detail_recipe_card', recipe: @recipe %>
    <%= render 'shared/table_foods', recipe_foods: @recipe_foods %>
  <% else %>
    <p> This is a private recipe, please sign in. </p>
  <% end %>
<% end %>
