<% if user_signed_in? %>
  <% if @recipe.public == true || @recipe.user.id == @current_user.id %>
    <%= render 'shared/detail_recipe_card', recipe: @recipe %>
    <%= render 'shared/table_foods' %>
  <% else %>
    <p> You are not authorize to see this recipe. </p>
    <%= link_to 'Go to your recipes', recipes_path, class: "text-blue-600 underline" %>
  <% end %>
<% else %>
  <% if @recipe.public == true %>
    <%= render 'shared/detail_recipe_card', recipe: @recipe %>
    <%= render 'shared/table_foods' %>
  <% else %>
    <p> This is a private recipe, please sign in. </p>
  <% end %>
<% end %>
