<div>
  <h2><%= recipe.name%></h2>
  <%= form_with model: recipe do |form| %>
    <div class="">
      <%= form.label :public, class: 'form-check-label' %>
      <%= form.check_box :public, class: "custom-control-input", role: 'switch', data: { public: recipe.public }, onchange: "this.form.requestSubmit()", disabled: !can?(:manage, recipe)  %>
    </div>
  <% end %>
  <div>
    <p><%= recipe.name %></p>
    <p>Preparation time: <%= recipe.preparation_time%></p>
    <p>Cooking time: <%= recipe.cooking_time%></p>
    <p>Steps go here</p>
  </div>
</div>
