<%= form_with model: recipe, data: { controller: "nested-form", nested_form_wrapper_selector_value: '.nested-form-wrapper' }, class: 'flex flex-col w-full max-w-3xl mx-auto gap-6 justify-center align-center' do |form| %>
  <div class="d-flex flex-column">
    <template data-nested-form-target="template">
      <%= form.fields_for :recipe_foods, RecipeFood.new, child_index: 'NEW_RECORD' do |field| %>
        <%= render "shared/recipe_food_form", form: field %>
      <% end %>
    </template>

    <%= form.fields_for :recipe_foods do |field| %>
      <%= render "shared/recipe_food_form", form: field %>
    <% end %>

    <div data-nested-form-target="target"></div>

    <button type="button" data-action="nested-form#add" class="btn btn-primary align-self-end text-blue-500">Add Ingredients</button>
  </div>
  <div class="flex justify-center w-full max-w-3xl align-center">
    <%= form.submit class: 'px-4 py-2 border-2 border-black cursor:pointer mb-8' %>
  </div>
<% end %>
