<tr>
    <td><%= food.name %></td>
    <td><%= food.quantity %></td>
    <td><%= food.price * food.quantity %></td>
    <td>
      <%= link_to 'Modify', "/recipe_foods/#{food.id}/", class: "text-blue-600 underline", data: { "turbo-method": :edit} %>
    </td>
    <td>
      <%= link_to 'REMOVE', "/recipe_foods/#{food.id}/", class: "text-blue-600 underline", data: { "turbo-method": :delete} %>
    </td>
</tr>
